{% load static %}
{% load components_tags %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ title }}</title>
    <link type="text/css" href="{% static 'components/css/styles.css' %}" rel="stylesheet"/>
    <link rel="shortcut icon" href="{% static 'components/images/kas.ico' %}" type="image/x-icon"/>
  </head>
  <body>
    <div class="container">
      {% block menu %}
      <div class="header">
          <ul class="nav">
            <li><a href="{%url 'home'%}"><img src="{% static 'components/images/kas.png'%}" alt="logo" /></a></li>
            {% for m in menu %}
              {% if not forloop.last %}
                <li><a href="{% url m.url_name %}">{{ m.title }}</a></li>
              {% else %}
                <li><button type="button"><a href="{% url m.url_name %}">{{ m.title }}</a></button></li>
              {% endif %}
            {% endfor %}
          </ul>
      </div>
      {% endblock menu %}

      <div class="content">
        <div class="menu">
<!--            {% getcats as categories %} для простого тега get_categories-->

          <ul>
              {% if cat_selected == 0 %}
              <li class="sel">Все категории</li>
              {% else %}
              <li><a href="{% url 'home' %}">Все категории</a></li>
              {% endif %}

              {% show_categories 'type_comp' cat_selected %}



          </ul>
        </div>

        <div class="post">
          {% block content %}
          {% endblock content %}
        </div>
      </div>
      <div class="footer">футер</div>
    </div>
  </body>
</html>
