{% extends 'components/base.html' %}

{% block content %}
    <ul class="">
        {% for c in comp %}
        <li>
            <div class="p_inline">
                <p>Категория: {{c.cat}}</p>
                <p>Дата: {{ c.time_upgrate|date:'d-m-y H:i:s' }}</p>
            </div>

            <h1>{{ c.name }}</h1>
            <p>{{ c.description }}</p>
            <p>{{ c.time_create }}</p>
        </li><Br>
    <button class="more" type="button"><a href="{{ c.get_absolute_url }}">Подробнее</a></button>
    <hr>
        {% endfor %}
    </ul>
{% endblock content %}